In [1]:
import numpy as np
import pandas as pd

In [2]:
mylist = [10, 20, 30]
labels = ["A", "B", "C"]

In [3]:
arr = np.array(mylist)
arr

array([10, 20, 30])

In [4]:
d = {"A":10, "B":20, "C":30}

In [5]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=arr, index=labels)

A    10
B    20
C    30
dtype: int32

## Creating DataFrame

In [10]:
from numpy.random import randn

In [11]:
np.random.seed(42)
rand_mat = randn(4,3)

In [12]:
rand_mat

array([[ 0.49671415, -0.1382643 ,  0.64768854],
       [ 1.52302986, -0.23415337, -0.23413696],
       [ 1.57921282,  0.76743473, -0.46947439],
       [ 0.54256004, -0.46341769, -0.46572975]])

In [20]:
df = pd.DataFrame(rand_mat, index=["A", "B", "C", "D"], columns=["W", "Y", "Z"])
df

          W         Y         Z
A  0.496714 -0.138264  0.647689
B  1.523030 -0.234153 -0.234137
C  1.579213  0.767435 -0.469474
D  0.542560 -0.463418 -0.465730

In [22]:
df["W"]

A    0.496714
B    1.523030
C    1.579213
D    0.542560
Name: W, dtype: float64

In [24]:
# Creating new columns

df["NEW"] = df["W"] + df["Y"]
df

          W         Y         Z       NEW
A  0.496714 -0.138264  0.647689  0.358450
B  1.523030 -0.234153 -0.234137  1.288876
C  1.579213  0.767435 -0.469474  2.346648
D  0.542560 -0.463418 -0.465730  0.079142

In [27]:
# Drop column

df.drop("W", axis = 1)

          Y         Z       NEW
A -0.138264  0.647689  0.358450
B -0.234153 -0.234137  1.288876
C  0.767435 -0.469474  2.346648
D -0.463418 -0.465730  0.079142

In [28]:
## select column

df[["NEW", "Z"]]

        NEW         Z
A  0.358450  0.647689
B  1.288876 -0.234137
C  2.346648 -0.469474
D  0.079142 -0.465730

In [30]:
# get first row

df.loc["A"]

W      0.496714
Y     -0.138264
Z      0.647689
NEW    0.358450
Name: A, dtype: float64

In [34]:
# get two rows

df.iloc[[0,3]]

          W         Y         Z       NEW
A  0.496714 -0.138264  0.647689  0.358450
D  0.542560 -0.463418 -0.465730  0.079142

In [38]:
# select index and columns


df.loc[["A", "D"], ["NEW", "W"]]

        NEW         W
A  0.358450  0.496714
D  0.079142  0.542560