In [3]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [4]:
np.random.seed(42)
rand_mat = randn(4,3)

In [5]:
df = pd.DataFrame(rand_mat, index=["A", "B", "C", "D"], columns=["W", "Y", "Z"])
df

          W         Y         Z
A  0.496714 -0.138264  0.647689
B  1.523030 -0.234153 -0.234137
C  1.579213  0.767435 -0.469474
D  0.542560 -0.463418 -0.465730

In [8]:
# Filter all negative values in Y 

df[df["Y"] <0]

          W         Y         Z
A  0.496714 -0.138264  0.647689
B  1.523030 -0.234153 -0.234137
D  0.542560 -0.463418 -0.465730

In [12]:
# Apply 2 filters together

cond1 = df["Y"] <0 
cond2 = df["W"] > 0.5

df[(cond1 & cond2)]

         W         Y         Z
B  1.52303 -0.234153 -0.234137
D  0.54256 -0.463418 -0.465730

In [13]:
df["States"] = ["NW", "LA", "LO", "SP"]

In [14]:
df

          W         Y         Z States
A  0.496714 -0.138264  0.647689     NW
B  1.523030 -0.234153 -0.234137     LA
C  1.579213  0.767435 -0.469474     LO
D  0.542560 -0.463418 -0.465730     SP

In [22]:
df = df.reset_index()
df.set_index("States", inplace=True)

In [23]:
df

       index         W         Y         Z
States
NW         A  0.496714 -0.138264  0.647689
LA         B  1.523030 -0.234153 -0.234137
LO         C  1.579213  0.767435 -0.469474
SP         D  0.542560 -0.463418 -0.465730

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, NW to SP
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   4 non-null      object
 1   W       4 non-null      float64
 2   Y       4 non-null      float64
 3   Z       4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 160.0+ bytes

In [25]:
df.describe()

              W         Y         Z
count  4.000000  4.000000  4.000000
mean   1.035379 -0.017100 -0.130413
std    0.596263  0.540520  0.530283
min    0.496714 -0.463418 -0.469474
25%    0.531099 -0.291469 -0.466666
50%    1.032795 -0.186209 -0.349933
75%    1.537076  0.088160 -0.013681
max    1.579213  0.767435  0.647689

In [26]:
df.dtypes

index     object
W        float64
Y        float64
Z        float64
dtype: object